%header
  %h1 MetaBill
  %p This is an awesome description about an awesome project. It's not called Bill Shatner, because that was Alex's stupid idea but it really is stupid.
  

- @mdoc.first.each do |clause|
  %p= clause
