- content_for :header do
  %p Context is everything. When you read legislation without the information about how it came to be, what arguments were made and what got left out can leave you without enough information to make sense of the decisions made about you. MetaBill gives you the information you need to see how the shape and substance of a bill changed through Parliament, using intuitive visuals, clear linking of data and a consistent experience across all stages of legislation.
  %button.btn.btn-primary More about MetaBill

- content_for :content do
  %article.bills
    %header
      %h1 Legislation
    %ul
      %li
        %article
          %h2
            %a Marriage (Same Sex Couples) Act 2013
          %p An Act to make provision for the marriage of same sex couples in England and Wales, about gender change by married persons and civil partners, about consular functions in relation to marriage, for the marriage of armed forces personnel overseas, for permitting marriages according to the usages of belief organisations to be solemnized on the authority of certificates of a superintendent registrar, for the review of civil partnership, for the review of survivor benefits under occupational pension schemes, and for connected purposes.
          = link_to "Read legislation and amendments", legislation_path("Marriage (Same Sex Couples) Act 2013"), class: ["btn", "btn-info"]
