@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900);

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $fontstack;
  @include fontsize(20); 
  border-top: 10px solid $blue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontstack;  
  font-weight: bold;
}

h1 {
  color: $blue;
  @include fontsize(40);
}

h4 {
  @include fontsize(20);
}

a {
  color: $blue;

  &:hover {
    @include transition(color 0.5s ease-in);
    text-decoration: none;
  }
}

p {
  margin: 0 0 20px 0;
}

header.header {
  margin: 60px 0;

  h1 {
    @include fontsize(90);
    letter-spacing: -2px;
    color: $blue;
    margin-bottom: 0;
  }

  h2 {
    padding: 5px 0 $padding 0;
    margin-top: 0;
  }

  p {
    @include fontsize(25);
    margin-bottom: 25px;
  }

  .btn {
    margin: 10px 0;
  }
}

.btn {
  @include fontsize(20);
  background: $blue;
  border: none;
  padding: 10px 20px;

  &:hover {
    @include transition(background-color 0.5s ease-in);
  }
}

.btn-info {
  background-color: $paleblue;
  color: $gray;

  &:hover {
    background-color: darken($paleblue, 10%);
    color: $gray;
  }
}

footer.footer {
  margin: 60px 0 $spacer 0;
  color: $gray-light;

  a {
    color: $gray-light;
    text-decoration: underline;

    &:hover {
      color: $gray;
    }
  }
}

// Horrible classes used by external data sources

.italic {
  font-style: italic;
}