@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900);

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $fontstack;
  @include fontsize(20); 
  margin-bottom: $spacer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontstack;  
  font-weight: bold;
}

h4 {
  @include fontsize(20);
}

a {
  color: $blue;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 0 0 20px 0;
}

header.header {
  margin: $spacer 0;

  h1 {
    @include fontsize(90);
    letter-spacing: -2px;
    color: $blue;
    margin-bottom: 0;
  }

  h2 {
    padding: 5px 0 $padding 0;
    margin-top: 0;
  }

  p {
    @include fontsize(25);
    margin-bottom: 25px;
  }

  .btn {
    margin: 10px 0;
  }
}

.btn {
  @include fontsize(20);
  background: $blue;
  border: none;
  padding: 10px 20px;
}

// Horrible classes used by external data sources

.italic {
  font-style: italic;
}