.debate {
  margin-top: $padding;
  
  h4 {
    margin-top: 0;
    padding-top: 0;
  }

  &.amendments {
    display: inline-block;
    margin: $padding 0 $spacer 0;
    padding-top:0;

    h2 {
      margin-top: 0;
    }

    .amendment {
      margin-top: 0;

      time {
        padding-left: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  button.btn {
    margin-left: 80px;
  }
}
