.legislation {
  padding: $padding;
  background: $paleblue;
  position: relative;
  margin-top: $spacer;

  .expand {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: asset-url("arrow-right.svg") no-repeat bottom right;
    text-indent: -2000px;
    opacity: 0.5;

    &:hover {
      background: asset-url("arrow-down.svg") no-repeat bottom right;
      opacity: 1;
    }
  }

}

.amendments {
  margin-top: $padding;
  
  .amendment {
    padding-left: $spacer;
  }
}