.legislation {
  padding: $padding $padding $spacer $padding;
  background: $paleblue;
  position: relative;
  margin-top: $spacer;

  .expand {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: asset-url("arrow-right.svg") no-repeat bottom right;
    padding-right: 35px;
    font-weight: bold;
    color: #000;
    @include fontsize(18);
    opacity: 0.5;
    text-decoration: none;

    &:hover {
      background: asset-url("arrow-down.svg") no-repeat bottom right;
      opacity: 1;
    }
  }

}

.amendments {
  padding-top: 10px;
  border-left: 5px $paleblue solid;
  display: none;

  .amendment {
    padding-left: 80px;
    margin: 30px 0 ;
  }
}