// Place all the styles related to the Legislations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.legislation {
  @include boxsizing(border-box);
  padding: $padding;
  background: $paleblue;
  position: relative;

  .expand {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: asset-url("arrow-right.svg") no-repeat bottom right;
    text-indent: -2000px;
    opacity: 0.5;

    &:hover {
      background: asset-url("arrow-down.svg") no-repeat bottom right;
      opacity: 1;
    }
  }
}